.item{
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.item-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.item-price{
    font-size: 24px;
    color: #2196F3;
}
.item-row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.item-col{
    width: 33.33%;
    padding: 0 10px;
}
.item-info{
    margin-bottom: 10px;
    font-size: 12px;
}
.item-info h3{
    color: #A0B0B9;
    text-transform: uppercase;
}
.item-info{

}