.sidebar{
    width: 31%;
    background-color: #fff;
    padding: 20px 0 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
.sidebar h2{
    text-transform: uppercase;
    font: 12px "Open Sans";
    margin-bottom: 10px;
    padding: 0 20px;
}
.row-filter{
    display: flex;
    align-items: center;
    font: 13px 'Open Sans';
    cursor: pointer;
    padding: 10px 20px;
    transition: all .3s ease-in-out;
}
.row-filter:hover{
    background-color: #F1FCFF;
}
.row-filter:last-child{
    margin-bottom: 0;
}
.row-filter input:checked ~ .checkmark{
    border-color: #2196F3;
}
.row-filter input:checked ~ .checkmark:before{
    display: block;
}
.row-filter input{
    display: none;
}
.checkmark{
    display: block;
    flex: 0 0 20px;
    width: 20px;
    height: 20px;
    border: 1px solid #9ABBCE;
    border-radius: 2px;
    position: relative;
    margin-right: 10px;
}
.checkmark:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -63%) rotate(45deg);
    border: solid #2196F3;
    border-width: 0 2px 2px 0;
    padding: 4px 2px;
    display: none;
}